body {
    font-family: Arial;
    background-color: #f4f6f8;
    padding: 20px;
}

.task {
    background: #4f46e5;
    color: white;
    padding: 8px;
    margin-top: 8px;
    border-radius: 5px;
}
